---
import BaseLayout from '../layouts/BaseLayout.astro';
import Subscribe from '../components/Subscribe.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const title = "My Reading List";
const description = "A curated list of my favorite books and reading history.";

// 1. Load all images from src/assets/images
const imageFiles = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/**/*.{jpeg,jpg,png,gif}', { eager: true });

// 2. Helper to find the correct image
const getCover = (path: string) => {
    // This matches your folder structure (e.g., "s/1 (1).jpg")
    const fullPath = `/src/assets/images/${path}`;
    const img = imageFiles[fullPath];
    if (!img) {
        console.error(`Image not found: ${fullPath}`);
        return null;
    }
    return img.default;
};

// 3. Get book reviews from content collection
const bookReviews = await getCollection('books');
// Create a map of book titles to their internal URLs for quick lookup
const bookReviewMap = new Map();
bookReviews.forEach((book) => {
    bookReviewMap.set(book.data.title.toLowerCase(), `/books/${book.id}`);
});

// 3. Your Library Data
const library = [
    {
        author: "John Gwynne",
        website: "https://www.johngwynneauthor.co.uk/",
        books: [
            { title: "The Shadow of the Gods", link: "https://www.goodreads.com/book/show/52694527-the-shadow-of-the-gods", img: "book/527.jpg" },
            { title: "The Hunger of the Gods", link: "https://www.goodreads.com/book/show/57341045-the-hunger-of-the-gods", img: "book/045.jpg" },
            { title: "The Fury of the Gods", link: "https://www.goodreads.com/book/show/61755703-the-fury-of-the-gods", img: "book/703.jpg" },
            { title: "Better to Live than to Die", link: "https://www.goodreads.com/book/show/29800738-better-to-live-than-to-die", img: "book/738.jpg" },
        ]
    },
    {
        author: "Stephen King",
        website: "https://stephenking.com/",
        books: [
            { title: "The Colorado Kid", link: "https://www.goodreads.com/book/show/2907773-the-colorado-kid", img: "s/1 (50).jpg" },
            { title: "It", link: "https://www.goodreads.com/book/show/644173.It", img: "s/1 (26).jpg" },
            { title: "Dolores Claiborne", link: "https://www.goodreads.com/book/show/909069.Dolores_Claiborne", img: "s/1 (33).jpg" },
            { title: "The Girl Who Loved Tom Gordon", link: "https://www.goodreads.com/book/show/880472.The_Girl_Who_Loved_Tom_Gordon", img: "s/1 (31).jpg" },
            { title: "Misery", link: "https://www.goodreads.com/book/show/10614.Misery", img: "s/1 (4).jpg" },
            { title: "Danse Macabre", link: "https://www.goodreads.com/book/show/155246.Danse_Macabre", img: "s/1 (13).jpg" },
            { title: "Christine", link: "https://www.goodreads.com/book/show/2398591.Christine", img: "s/1 (49).jpg" },
            { title: "Cujo", link: "https://www.goodreads.com/book/show/971905.Cujo", img: "s/1 (35).jpg" },
            { title: "The Regulators", link: "https://www.goodreads.com/book/show/899052.The_Regulators", img: "s/1 (32).jpg" },
            { title: "Secret Windows", link: "https://www.goodreads.com/book/show/11596.Secret_Windows", img: "s/1 (5).jpg" },
            { title: "Just After Sunset", link: "https://www.goodreads.com/book/show/6092470-just-after-sunset", img: "s/1 (52).jpg" },
            { title: "Duma Key", link: "https://www.goodreads.com/book/show/472343.Duma_Key", img: "s/1 (22).jpg" },
            { title: "Insomnia", link: "https://www.goodreads.com/book/show/102417.Insomnia", img: "s/1 (10).jpg" },
            { title: "Storm of the Century", link: "https://www.goodreads.com/book/show/13451.Storm_of_the_Century", img: "s/1 (6).jpg" },
            { title: "The Green Mile", link: "https://www.goodreads.com/book/show/978695.The_Green_Mile", img: "s/1 (36).jpg" },
            { title: "Hearts in Atlantis", link: "https://www.goodreads.com/book/show/1033783.Hearts_in_Atlantis", img: "s/1 (41).jpg" },
            { title: "Gerald's Game", link: "https://www.goodreads.com/book/show/2051087.Gerald_s_Game", img: "s/1 (47).jpg" },
            { title: "Thinner", link: "https://www.goodreads.com/book/show/1146026.Thinner", img: "s/1 (43).jpg" },
            { title: "Night Shift", link: "https://www.goodreads.com/book/show/155632.Night_Shift", img: "s/1 (16).jpg" },
            { title: "The Talisman", link: "https://www.goodreads.com/book/show/1697752.The_Talisman", img: "s/1 (46).jpg" },
            { title: "Firestarter", link: "https://www.goodreads.com/book/show/155526.Firestarter", img: "s/1 (14).jpg" },
            { title: "The Tommyknockers", link: "https://www.goodreads.com/book/show/155213.The_Tommyknockers", img: "s/1 (12).jpg" },
            { title: "Salem's Lot", link: "https://www.goodreads.com/book/show/5415._Salem_s_Lot", img: "s/1 (2).jpg" },
            { title: "Bag of Bones", link: "https://www.goodreads.com/book/show/727690.Bag_of_Bones", img: "s/1 (28).jpg" },
            { title: "11/22/63", link: "https://www.goodreads.com/book/show/13533728-11-22-63", img: "s/1 (58).jpg" },
            { title: "Rose Madder", link: "https://www.goodreads.com/book/show/30102301-rose-madder", img: "s/1 (62).jpg" },
            { title: "Full Dark, No Stars", link: "https://www.goodreads.com/book/show/7912007-full-dark-no-stars", img: "s/1 (56).jpg" },
            { title: "The Eyes of the Dragon", link: "https://www.goodreads.com/book/show/655707.The_Eyes_of_the_Dragon", img: "s/1 (27).jpg" },
            { title: "Everything's Eventual", link: "https://www.goodreads.com/book/show/644172.Everything_s_Eventual", img: "s/1 (25).jpg" },
            { title: "On Writing", link: "https://www.goodreads.com/book/show/10569.On_Writing", img: "s/1 (3).jpg" },
            { title: "The Stand", link: "https://www.goodreads.com/book/show/1360681.The_Stand", img: "s/1 (44).jpg" },
            { title: "From a Buick 8", link: "https://www.goodreads.com/book/show/22076.From_a_Buick_8", img: "s/1 (7).jpg" },
            { title: "The Bachman Books", link: "https://www.goodreads.com/book/show/228162.The_Bachman_Books", img: "s/1 (18).jpg" },
            { title: "The Shining", link: "https://www.goodreads.com/book/show/56072144-the-shining", img: "s/1 (1).jpg" },
            { title: "The Dead Zone", link: "https://www.goodreads.com/book/show/105465.The_Dead_Zone", img: "s/1 (11).jpg" },
            { title: "The Waste Lands", link: "https://www.goodreads.com/book/show/995127.The_Waste_Lands", img: "s/1 (70).jpg" },
            { title: "The Drawing of the Three", link: "https://www.goodreads.com/book/show/1010040.The_Drawing_of_the_Three", img: "s/1 (38).jpg" },
            { title: "Wizard and Glass", link: "https://www.goodreads.com/book/show/1081372.Wizard_and_Glass", img: "s/1 (42).jpg" },
            { title: "The Wind Through the Keyhole", link: "https://www.goodreads.com/book/show/12341557-the-wind-through-the-keyhole", img: "s/1 (59).jpg" },
            { title: "Pet Sematary", link: "https://www.goodreads.com/book/show/832795.Pet_Sematary", img: "s/1 (29).jpg" },
            { title: "Black House", link: "https://www.goodreads.com/book/show/3928474-black-house", img: "s/1 (51).jpg" },
            { title: "Wizard and Glass", link: "https://www.goodreads.com/book/show/942573.Wizard_and_Glass", img: "s/1 (34).jpg" },
            { title: "Song of Susannah", link: "https://www.goodreads.com/book/show/644171.Song_of_Susannah", img: "s/1 (24).jpg" },
            { title: "The Dark Tower", link: "https://www.goodreads.com/book/show/7201662-the-dark-tower", img: "s/1 (67).jpg" },
            { title: "Wolves of the Calla", link: "https://www.goodreads.com/book/show/2287699.Wolves_of_the_Calla", img: "s/1 (48).jpg" },
            { title: "The Gunslinger", link: "https://www.goodreads.com/book/show/22550.The_Gunslinger", img: "s/1 (8).jpg" },
            { title: "The Drawing of the Three", link: "https://www.goodreads.com/book/show/408853.The_Drawing_of_the_Three", img: "s/1 (19).jpg" },
            { title: "The Waste Lands", link: "https://www.goodreads.com/book/show/34084.The_Waste_Lands", img: "s/1 (9).jpg" },
            { title: "Carrie", link: "https://www.goodreads.com/book/show/155731.Carrie", img: "s/1 (17).jpg" },
            { title: "Different Seasons", link: "https://www.goodreads.com/book/show/13500543-different-seasons", img: "s/1 (57).jpg" },
            { title: "Cell", link: "https://www.goodreads.com/book/show/10567.Cell", img: "s/1 (20).jpg" },
            { title: "Skeleton Crew", link: "https://www.goodreads.com/book/show/848454.Skeleton_Crew", img: "s/1 (30).jpg" },
            { title: "Four Past Midnight", link: "https://www.goodreads.com/book/show/155608.Four_Past_Midnight", img: "s/1 (15).jpg" },
            { title: "Dreamcatcher", link: "https://www.goodreads.com/book/show/441240.Dreamcatcher", img: "s/1 (21).jpg" },
            { title: "Nightmares & Dreamscapes", link: "https://www.goodreads.com/book/show/518851.Nightmares_Dreamscapes", img: "s/1 (23).jpg" },
            { title: "Needful Things", link: "https://www.goodreads.com/book/show/22068223-needful-things", img: "s/1 (60).jpg" },
            { title: "Under the Dome", link: "https://www.goodreads.com/book/show/6320534-under-the-dome", img: "s/1 (55).jpg" },
            { title: "Lisey's Story", link: "https://www.goodreads.com/book/show/6120378-lisey-s-story", img: "s/1 (53).jpg" },
            { title: "Desperation", link: "https://www.goodreads.com/book/show/10584.Desperation", img: "s/1 (40).jpg" },
            { title: "The Bazaar of Bad Dreams", link: "https://www.goodreads.com/book/show/26760193-the-bazaar-of-bad-dreams", img: "s/1 (61).jpg" },
            { title: "Cycle of the Werewolf", link: "https://www.goodreads.com/book/show/1497074.Cycle_of_the_Werewolf", img: "s/1 (45).jpg" },
            { title: "The Gunslinger", link: "https://www.goodreads.com/book/show/995103.The_Gunslinger", img: "s/1 (37).jpg" },
            { title: "The Outsider", link: "https://www.goodreads.com/book/show/36374449-the-outsider", img: "s/1 (63).jpg" },
            { title: "If It Bleeds", link: "https://www.goodreads.com/book/show/52281100-if-it-bleeds", img: "s/1 (64).jpg" },
            { title: "Holly", link: "https://www.goodreads.com/book/show/81868815-holly", img: "s/1 (65).jpg" },
            { title: "Never Flinch", link: "https://www.goodreads.com/book/show/221644656-never-flinch", img: "s/1 (66).jpg" }
        ]
    },


    {
        author: "Stephen King",
        website: "https://stephenking.com/",
        books: [
            { title: "Nightmares in the Sky", link: "https://www.goodreads.com/book/show/116334.Nightmares_in_the_Sky", img: "s/dnh/1.jpg" },
            { title: "Joyland", link: "https://www.goodreads.com/book/show/13596166-joyland", img: "s/dnh/2.jpg" },
            { title: "Doctor Sleep", link: "https://www.goodreads.com/book/show/16130549-doctor-sleep", img: "s/dnh/3.jpg" },
            { title: "Charlie the Choo-Choo", link: "https://www.goodreads.com/book/show/32198259-charlie-the-choo-choo", img: "s/dnh/7.jpg" },
            { title: "Revival", link: "https://www.goodreads.com/book/show/20926278-revival", img: "s/dnh/5.jpg" },
            { title: "Finders Keepers", link: "https://www.goodreads.com/book/show/23492589-finders-keepers", img: "s/dnh/6.jpg" },
            { title: "Mr. Mercedes", link: "https://www.goodreads.com/book/show/18775247-mr-mercedes", img: "s/dnh/4.jpg" },
            { title: "End of Watch", link: "https://www.goodreads.com/book/show/25526965-end-of-watch", img: "s/dnh/8.jpg" },
            { title: "Gwendy's Button Box", link: "https://www.goodreads.com/book/show/34430839-gwendy-s-button-box", img: "s/dnh/9.jpg" },
            { title: "Gwendy's Magic Feather", link: "https://www.goodreads.com/book/show/45428419-gwendy-s-magic-feather", img: "s/dnh/10.jpg" },
            { title: "Gwendy's Final Task", link: "https://www.goodreads.com/book/show/59366265-gwendy-s-final-task", img: "s/dnh/11.jpg" },
            { title: "Sleeping Beauties", link: "https://www.goodreads.com/book/show/34466922-sleeping-beauties", img: "s/dnh/12.jpg" },
            { title: "The Institute", link: "https://www.goodreads.com/book/show/43798285-the-institute", img: "s/dnh/13.jpg" },
            { title: "Later", link: "https://www.goodreads.com/book/show/54798175-later", img: "s/dnh/14.jpg" },
            { title: "Elevation", link: "https://www.goodreads.com/book/show/38355410-elevation", img: "s/dnh/15.jpg" },
            { title: "Billy Summers", link: "https://www.goodreads.com/book/show/56852407-billy-summers", img: "s/dnh/16.jpg" },
            { title: "Faithful", link: "https://www.amazon.com/Faithful-Diehard-Boston-Chronicle-Historic/dp/0743267532", img: "s/dnh/17.jpg" },
            
        ]
    },




    {
        author: "Robert Jordan",
        website: "https://www.goodreads.com/author/show/6252.Robert_Jordan",
        books: [
            { title: "The Shadow Rising", link: "https://www.goodreads.com/book/show/893763.The_Shadow_Rising", img: "r/1 (12).jpg" },
            { title: "A Memory of Light", link: "https://www.goodreads.com/book/show/7743175-a-memory-of-light", img: "r/1 (15).jpg" },
            { title: "Towers of Midnight", link: "https://www.goodreads.com/book/show/8253920-towers-of-midnight", img: "r/1 (16).jpg" },
            { title: "The Gathering Storm", link: "https://www.goodreads.com/book/show/1166599.The_Gathering_Storm", img: "r/1 (14).jpg" },
            { title: "Knife of Dreams", link: "https://www.goodreads.com/book/show/618171.Knife_of_Dreams", img: "r/1 (8).jpg" },
            { title: "Crossroads of Twilight", link: "https://www.goodreads.com/book/show/113435.Crossroads_of_Twilight", img: "r/1 (3).jpg" },
            { title: "Winter's Heart", link: "https://www.goodreads.com/book/show/618166.Winter_s_Heart", img: "r/1 (7).jpg" },
            { title: "The Path of Daggers", link: "https://www.goodreads.com/book/show/618162.The_Path_of_Daggers", img: "r/1 (6).jpg" },
            { title: "A Crown of Swords", link: "https://www.goodreads.com/book/show/13890.A_Crown_of_Swords", img: "r/1 (2).jpg" },
            { title: "Lord of Chaos", link: "https://www.goodreads.com/book/show/893762.Lord_of_Chaos", img: "r/1 (11).jpg" },
            { title: "The Fires of Heaven", link: "https://www.goodreads.com/book/show/700769.The_Fires_of_Heaven", img: "r/1 (9).jpg" },
            { title: "The Dragon Reborn", link: "https://www.goodreads.com/book/show/618158.The_Dragon_Reborn", img: "r/1 (5).jpg" },
            { title: "New Spring", link: "https://www.goodreads.com/book/show/1001544.New_Spring", img: "r/1 (13).jpg" },
            { title: "To the Blight", link: "https://www.goodreads.com/book/show/13889.To_the_Blight", img: "r/1 (1).jpg" },
            { title: "The Eye of the World", link: "https://www.goodreads.com/book/show/893760.The_Eye_of_the_World", img: "r/1 (10).jpg" },
            { title: "The Great Hunt", link: "https://www.goodreads.com/book/show/233649.The_Great_Hunt", img: "r/1 (4).jpg" }
        ]
    },
    {
        author: "Joe Abercrombie",
        website: "https://joeabercrombie.com/",
        books: [
            { title: "The Blade Itself", link: "https://www.goodreads.com/book/show/24958072-the-blade-itself", img: "ja/1 (3).jpg" },
            { title: "Before They Are Hanged", link: "https://www.goodreads.com/book/show/902715.Before_They_Are_Hanged", img: "ja/1 (1).jpg" },
            { title: "Last Argument of Kings", link: "https://www.goodreads.com/book/show/944076.Last_Argument_of_Kings", img: "ja/1 (2).jpg" },
            { title: "A Little Hatred", link: "https://www.goodreads.com/book/show/49088593-a-little-hatred", img: "ja/2 (1).jpg" },
            { title: "The Trouble with Peace", link: "https://www.goodreads.com/book/show/40701777-the-trouble-with-peace", img: "ja/2 (2).jpg" },
            { title: "The Wisdom of Crowds", link: "https://www.goodreads.com/book/show/40701780-the-wisdom-of-crowds", img: "ja/2 (3).jpg" },
            { title: "Best Served Cold", link: "https://www.goodreads.com/book/show/2315892.Best_Served_Cold", img: "ja/3 (1).jpg" },
            { title: "The Heroes", link: "https://www.goodreads.com/book/show/10834872-the-heroes", img: "ja/3 (2).jpg" },
            { title: "Red Country", link: "https://www.goodreads.com/book/show/17333248-red-country", img: "ja/3 (3).jpg" },
            { title: "Sharp Ends", link: "https://www.goodreads.com/book/show/30841990-sharp-ends", img: "ja/3 (4).jpg" },
            { title: "The Devils", link: "https://www.goodreads.com/book/show/233800039-the-devils", img: "ja/4 (1).jpg" }
        ]
    },
    {
        author: "George R. R. Martin",
        website: "https://georgerrmartin.com/",
        books: [
            { title: "A Game of Thrones", link: "https://www.goodreads.com/book/show/38451264-a-game-of-thrones", img: "rrm/1 (1).jpg" },
            { title: "A Clash of Kings", link: "https://www.goodreads.com/book/show/10572.A_Clash_of_Kings", img: "rrm/1 (2).jpg" },
            { title: "A Storm of Swords", link: "https://www.goodreads.com/book/show/10396652-a-storm-of-swords", img: "rrm/1 (3).jpg" },
            { title: "A Feast for Crows", link: "https://www.goodreads.com/book/show/385001.A_Feast_for_Crows", img: "rrm/1 (4).jpg" },
            { title: "A Dance with Dragons", link: "https://www.goodreads.com/book/show/10664113-a-dance-with-dragons", img: "rrm/1 (5).jpg" }
        ]
    },
    {
        author: "Patrick Rothfuss",
        website: "https://patrickrothfuss.com/",
        books: [
            { title: "The Lightning Tree", link: "https://www.goodreads.com/book/show/20168816-rogues", img: "pr/1 (1).jpg" },
            { title: "The Narrow Road Between Desires", link: "https://www.goodreads.com/book/show/157265081-the-narrow-road-between-desires", img: "pr/1 (2).jpg" },
            { title: "The Name of the Wind", link: "https://www.goodreads.com/book/show/186074.The_Name_of_the_Wind", img: "pr/1 (3).jpg" },
            { title: "The Wise Man’s Fear", link: "https://www.goodreads.com/book/show/1215032.The_Wise_Man_s_Fear", img: "pr/1 (4).jpg" },
            { title: "The Slow Regard of Silent Things", link: "https://www.goodreads.com/book/show/21535271-the-slow-regard-of-silent-things", img: "pr/1 (5).jpg" },
            { title: "Doors of Stone", link: "https://www.goodreads.com/book/show/10394348-doors-of-stone", img: "pr/1 (6).jpg" }
        ]
    },
    {
        author: "John Ronald Reuel Tolkien",
        website: "https://www.tolkienestate.com/",
        books: [
            { title: "The Silmarillion", link: "https://www.goodreads.com/book/show/144387206-the-silmarillion", img: "rrt/1 (2).jpg" },
            { title: "The Hobbit", link: "https://www.goodreads.com/book/show/2194861.The_Hobbit_or_There_and_Back_Again", img: "rrt/1 (1).jpg" },
            { title: "The Fellowship of the Ring", link: "https://www.goodreads.com/book/show/77683.The_Fellowship_of_the_Ring", img: "rrt/1 (3).jpg" },
            { title: "The Two Towers", link: "https://www.goodreads.com/book/show/77684.The_Two_Towers", img: "rrt/1 (4).jpg" },
            { title: "The Return of the King", link: "https://www.goodreads.com/book/show/77685.The_Return_of_the_King", img: "rrt/1 (5).jpg" },
            { title: "Sir Gawain and the Green Knight", link: "https://www.goodreads.com/book/show/3048.Sir_Gawain_and_the_Green_Knight_Pearl_Sir_Orfeo", img: "rrt/1 (6).jpg" }
        ]
    },
    {
        author: "Brandon Sanderson",
        website: "https://www.brandonsanderson.com/",
        books: [
            { title: "Mistborn", link: "https://www.goodreads.com/book/show/243272.Mistborn", img: "bs/1 (1).jpg" },
            { title: "The Well of Ascension", link: "https://www.goodreads.com/book/show/2115046.The_Well_of_Ascension", img: "bs/1 (2).jpg" },
            { title: "The Hero of Ages", link: "https://www.goodreads.com/book/show/3362870-the-hero-of-ages", img: "bs/1 (3).jpg" },
            { title: "Words of Radiance", link: "https://www.goodreads.com/book/show/17332218-words-of-radiance", img: "bs/1 (5).jpg" },
            { title: "Oathbringer", link: "https://www.goodreads.com/book/show/42642174-oathbringer", img: "bs/1 (6).jpg" },
            { title: "The Way of Kings", link: "https://www.goodreads.com/book/show/7235532-the-way-of-kings", img: "bs/1 (4).jpg" },
            { title: "Rhythm of War", link: "https://www.goodreads.com/book/show/49021976-rhythm-of-war", img: "bs/1 (7).jpg" },
            { title: "Wind and Truth", link: "https://www.goodreads.com/book/show/203578847-wind-and-truth", img: "bs/1 (8).jpg" }
        ]
    },
    {
        author: "Brandon Sanderson",
        website: "https://www.brandonsanderson.com/",
        books: [
            { title: "Mistborn", link: "https://www.goodreads.com/book/show/243272.Mistborn", img: "bs/1 (1).jpg" },
            { title: "The Well of Ascension", link: "https://www.goodreads.com/book/show/2115046.The_Well_of_Ascension", img: "bs/1 (2).jpg" },
            { title: "The Hero of Ages", link: "https://www.goodreads.com/book/show/3362870-the-hero-of-ages", img: "bs/1 (3).jpg" },
            { title: "Words of Radiance", link: "https://www.goodreads.com/book/show/17332218-words-of-radiance", img: "bs/1 (5).jpg" },
            { title: "Oathbringer", link: "https://www.goodreads.com/book/show/42642174-oathbringer", img: "bs/1 (6).jpg" },
            { title: "The Way of Kings", link: "https://www.goodreads.com/book/show/7235532-the-way-of-kings", img: "bs/1 (4).jpg" },
            { title: "Rhythm of War", link: "https://www.goodreads.com/book/show/49021976-rhythm-of-war", img: "bs/1 (7).jpg" },
            { title: "Wind and Truth", link: "https://www.goodreads.com/book/show/203578847-wind-and-truth", img: "bs/1 (8).jpg" }
        ]
    },
    {
        author: "Andy Weir - Audiobook",
        website: "https://www.galactanet.com/",
        books: [
            { title: "Project Hail Mary", link: "https://www.goodreads.com/book/show/54493401-project-hail-mary", img: "aw/1 (1).jpg" },
            ]
    },
    {
        author: "Multiple Authors - Audiobook",
        website: "",
        books: [
            { title: "Rogues", link: "https://www.goodreads.com/book/show/20168816-rogues", img: "ma/1 (1).jpg" },
            { title: "Tails of Wonder and Imagination", link: "https://www.goodreads.com/book/show/7455727-tails-of-wonder-and-imagination", img: "ma/1 (2).jpg" },
            ]
    },
    {
        author: "Suzanne Lipscomb - Audiobook",
        website: "https://suzannahlipscomb.com/",
        books: [
            { title: "A History of Magic, Witchcraft, and the Occult", link: "https://www.goodreads.com/book/show/49106497-a-history-of-magic-witchcraft-and-the-occult", img: "sl/1 (1).png" },
            ]
    },
    {
        author: "Danny Trejo - Audiobook",
        website: "https://dannytrejo.com/",
        books: [
            { title: "Trejo: My Life of Crime, Redemption, and Hollywood", link: "https://www.goodreads.com/book/show/56269833-trejo", img: "dt/1 (1).jpg" },
            ]
    },
    {
        author: "Carl Spartacus - Audiobook",
        books: [
            { title: "UFOs and Aliens Throughout History: The Most Compelling UAP Cases and Alien Contacts", link: "https://www.goodreads.com/book/show/140403559-ufos-and-aliens-throughout-history", img: "cs/1 (1).jpg" },
            ]
    },
    {
        author: "Sönke Ahrens - Audiobook",
        website: "https://www.andreagstewart.com/",
        books: [
            { title: "How to Take Smart Notes: One Simple Technique to Boost Writing, Learning and Thinking", link: "https://www.goodreads.com/book/show/228378911-how-to-take-smart-notes", img: "sa/1 (1).jpg" },
            ]
    },
    {
        author: "Lysa TerKeurst - Audiobook",
        website: "https://lysaterkeurst.com/",
        books: [
            { title: "Forgiving What You Can't Forget: Discover How to Move On, Make Peace with Painful Memories, and Create a Life That's Beautiful Again", link: "https://www.goodreads.com/book/show/52645353-forgiving-what-you-can-t-forget", img: "lt/1 (1).jpg" },
            ]
    },
    {
        author: "Randall Munroe - Audiobook",
        website: "https://xkcd.com/",
        books: [
            { title: "What If? 2: Additional Serious Scientific Answers to Absurd Hypothetical Questions", link: "https://www.goodreads.com/author/show/3089156.Randall_Munroe", img: "rm/1 (1).jpg" },
            ]
    },
    {
        author: "Walter Isaacson - Audiobook",
        website: "https://x.com/WalterIsaacson",
        books: [
            { title: "Einstein: His Life and Universe", link: "https://www.goodreads.com/book/show/10884.Einstein", img: "wi/1 (1).jpg" },
            ]
    },




    {
        author: "Stephen Graham Jones - Audiobook",
        website: "https://www.demontheory.net/",
        books: [
            { title: "The Buffalo Hunter Hunter", link: "https://www.goodreads.com/book/show/214565614-the-buffalo-hunter-hunter", img: "sgj/1 (1).webp" },
            ]
    },
    {
        author: "Julia Nordgren - Audiobook",
        books: [
            { title: "How Superfoods Work", link: "https://www.goodreads.com/book/show/54854321-how-superfoods-work", img: "jn/1 (1).jpg" },
            ]
    },
    {
        author: "Phoenix Heart Alliance - Audiobook",
        books: [
            { title: "The Vagus Nerve Healing Bible: Daily Practices to Heal Stress, Improve Sleep, and Strengthen Your Gut", link: "https://www.goodreads.com/book/show/241654387-the-vagus-nerve-healing-bible", img: "pha/1 (1).jpg" },
            ]
    },
    {
        author: "Gintas Daukša - Audiobook",
        books: [
            { title: "Gut Health Revolution: Erase Brain Fog, Easy Weight Loss, Stronger Immunity, Sharpen Focus, Reduce Inflammation, More Energy", link: "https://www.goodreads.com/book/show/237891231-gut-health-revolution", img: "gd/1 (1).jpg" },
            ]
    },
    {
        author: "KR Goswami - Audiobook",
        books: [
            { title: "The Second Brain Secrets: Strengthen Your Gut, Heal from the Inside Out, Transform Your Digestive System, and Unlock the Key to Longevity", link: "https://www.goodreads.com/book/show/229062503-the-second-brain-secrets", img: "kr/1 (1).jpg" },
            ]
    },
    {
        author: "Steven R. Gundry - Audiobook",
        books: [
            { title: "The Gut-Brain Paradox", link: "https://www.goodreads.com/book/show/216497106-the-gut-brain-paradox", img: "srg/1 (1).jpg" },
            ]
    },
    
    {
        author: "James Clear - Audiobook",
        website: "https://jamesclear.com/",
        books: [
            { title: "Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones", link: "https://www.goodreads.com/book/show/40121378-atomic-habits", img: "jc/1 (1).jpg" },
            ]
    },
    
    {
        author: "Andrea Stewart",
        website: "https://www.andreagstewart.com/",
        books: [
            { title: "The Bone Shard War", link: "https://www.goodreads.com/book/show/60021222-the-bone-shard-war", img: "as/1 (3).jpg" },
            { title: "The Bone Shard Emperor", link: "https://www.goodreads.com/book/show/58684321-the-bone-shard-emperor", img: "as/1 (2).jpg" },
            { title: "The Bone Shard Daughter", link: "https://www.goodreads.com/book/show/50706646-the-bone-shard-daughter", img: "as/1 (1).jpg" },
            { title: "The Gods Below", link: "https://www.goodreads.com/book/show/208855018-the-gods-below", img: "as/1 (4).jpg" }
        ]
    },
    {
        author: "Katharine Kerr",
        website: "https://www.goodreads.com/kitkerr",
        books: [
            { title: "The Gold Falcon", link: "https://www.goodreads.com/book/show/236817.The_Gold_Falcon", img: "kk/1 (1).jpg" },
            { title: "The Spirit Stone", link: "https://www.goodreads.com/book/show/236818.The_Spirit_Stone", img: "kk/1 (2).jpg" },
            { title: "The Shadow Isle", link: "https://www.goodreads.com/book/show/2313576.The_Shadow_Isle", img: "kk/1 (3).jpg" },
            { title: "The Silver Mage", link: "https://www.goodreads.com/book/show/6585955-the-silver-mage", img: "kk/1 (4).jpg" }
        ]
    }
];
---

<BaseLayout title={title} description={description} showHeader={true}>
    <h1 class="mb-12 font-serif text-2xl italic sm:mb-16 sm:text-4xl">{title}</h1>

    {/* Search Bar */}
    <div class="sticky top-4 z-10 mb-12">
        <input
            type="text"
            id="book-search"
            placeholder="Search books by title or author..."
            class="w-full rounded-full border border-main bg-[var(--bg-main)] px-6 py-3 font-serif text-lg shadow-lg focus:outline-none focus:ring-2 focus:ring-purple-500 transition-all"
        />
    </div>

    <div id="books-container" class="max-w-none">
        {library.map((author) => (
            <div class="author-section" data-author={author.author.toLowerCase()}>
                <h2 class="author-header"><a href={author.website}>{author.author}</a></h2>
                <div class="book-grid">
                    {author.books.map((book) => {
                        const coverImage = getCover(book.img);
                        // Check if we have an internal review for this book
                        const internalLink = bookReviewMap.get(book.title.toLowerCase());
                        const link = internalLink || book.link;
                        const target = internalLink ? '_self' : '_blank';
                        const titleAttr = internalLink ? `Read my review of ${book.title}` : `View ${book.title} on Goodreads`;
                        
                        return (
                            <div class="book-item" data-search={`${book.title.toLowerCase()} ${author.author.toLowerCase()}`}>
                                <a href={link} target={target} title={titleAttr}>
                                    {coverImage ? (
                                        <Image
                                            src={coverImage}
                                            alt={book.title}
                                            class="book-cover"
                                            width={125}
                                            height={175}
                                        />
                                    ) : (
                                        <div class="book-cover bg-gray-200 flex items-center justify-center text-xs text-gray-500">
                                            No Image
                                        </div>
                                    )}
                                    {internalLink && (
                                        <div class="mt-2 text-xs text-blue-600 dark:text-blue-400 font-medium">
                                            My Review
                                        </div>
                                    )}
                                </a>
                            </div>
                        );
                    })}
                </div>
            </div>
        ))}
    </div>

    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>

<script>
    // Client-Side Search for Books
    const searchInput = document.getElementById('book-search');
    const container = document.getElementById('books-container');

    if (searchInput && container) {
        searchInput.addEventListener('input', (e) => {
            const term = (e.target as HTMLInputElement).value.toLowerCase();
            const authorSections = container.querySelectorAll('.author-section');

            authorSections.forEach((section) => {
                const books = section.querySelectorAll('.book-item');
                let hasVisibleBooks = false;

                books.forEach((book) => {
                    const searchText = book.getAttribute('data-search') || '';
                    if (searchText.includes(term)) {
                        (book as HTMLElement).style.display = 'block';
                        hasVisibleBooks = true;
                    } else {
                        (book as HTMLElement).style.display = 'none';
                    }
                });

                // Hide the entire author section if no books match
                (section as HTMLElement).style.display = hasVisibleBooks ? 'block' : 'none';
            });
        });
    }
</script>

<style>
    /* CSS Grid Layout */
    .book-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 20px;
        justify-items: center;
        margin-bottom: 50px;
    }

    .book-item {
        transition: transform 0.2s ease;
        text-align: center;
        line-height: 1.25;
        text-decoration: none;
    }

    .book-item:hover {
        transform: scale(1.05);
    }

    .book-cover {
        display: block; 
        width: 125px !important;
        height: 175px !important; 
        object-fit: cover; 
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    }

    /* Styling for the author header */
    .author-header {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--border-main); 
        padding-bottom: 10px;
        /* Font styles using theme variables */
        font-family: var(--font-serif); 
        font-size: 1.25rem; 
        font-style: italic;
    }

    /* Responsive adjustment equivalent to sm:text-2xl */
    @media (min-width: 640px) {
        .author-header {
            font-size: 1.5rem;
        }
    }
    
    .author-header a {
        color: inherit;
        text-decoration: none;
    }
</style>