---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import ProjectPreview from '../../components/ProjectPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const gardenNotes = (await getCollection('garden')).sort((a, b) =>
        new Date(b.data.created).getTime() - new Date(a.data.created).getTime()
    );
    const noteCount = gardenNotes.length;
    return gardenNotes.map((note, index) => ({
        params: { id: note.id },
        props: {
            note,
            prevNote: index + 1 !== noteCount ? gardenNotes[index + 1] : null,
            nextNote: index !== 0 ? gardenNotes[index - 1] : null
        }
    }));
}

type Props = {
    note: CollectionEntry<'garden'>;
    prevNote: CollectionEntry<'garden'>;
    nextNote: CollectionEntry<'garden'>;
};

const { note, prevNote, nextNote } = Astro.props;
const { title, description } = note.data;
const { Content } = await render(note);
---

<BaseLayout title={title} description={description} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="prose sm:prose-lg max-w-none">
            <Content />
        </div>
    </article>
    {
        (prevNote || nextNote) && (
            <div class="my-16 sm:my-24">
                <h2 class="mb-12 font-serif text-xl italic sm:mb-16 sm:text-2xl">View Next</h2>
                {nextNote && <ProjectPreview project={nextNote} class="mb-10 sm:mb-12" headingLevel="h3" />}
                {prevNote && <ProjectPreview project={prevNote} class="mb-10 sm:mb-12" headingLevel="h3" />}
            </div>
        )
    }
</BaseLayout>
